@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rufina:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}



:root {
    --main-color: #D1884F;
    --first-color: #008AAA;
    --second-color: #3BBADB;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: end;
    height: 5vh;
    margin-top: 4%;
    margin-bottom: 5%;
}

nav {
    display: flex;
}

nav div {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

div i {
    margin-right: 10px;
}

nav div:first-child {
    color: var(--main-color);
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left-section {
    width: 60%;
}

.right-section {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.left-section h5 {
    color: var(--second-color);
    font-size: 16px;
}
.left-section h1 {
    color: var(--first-color);
    font-size: 40px;
}
.left-section p {
    width: 80%;
    font-size: 18px;
    font-weight: 400;
}

.left-section span {
    color: var(--main-color);
}

.Btns {
    margin-top: 5%;
}

.Btns button {
    padding: 7px 20px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: white;
    color: var(--first-color);
    font-weight: 500;
    border: 2px solid var(--first-color);
}

.Btns button:first-child {
    background-color: var(--first-color);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    border: none;
    padding: 7px 30px;
}

.right-section img {
    width: 100%;
    border-bottom-left-radius: 50%;
    box-shadow: -11px 10px var(--second-color);
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    .burger {
        width: 30px; 
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
      }
      
      .line {
        width: 100%;
        height: 4px;
        background-color: #333; 
        border-radius: 2px;
      }
      main {
        display: flex;
        flex-direction: column;
    }

      .left-section {
        width: 100%;
        margin-bottom: 50px;
      }
      .left-section p {
      width: 100%;  
    }

    .right-section {
        width: 100%;
    }

}